

.productList{
    margin-top: 2rem;
    padding: 1rem 3.5rem 1.5rem 3.5rem;
    background-color: rgba(255, 107, 0, 0.08);
    /*background-color: rgba(235, 224, 237, 1);*/
    /*background-color: rgba(255, 0, 199, 0.08);*/
    position: relative;
    z-index: 3000;
}

.typeProductList{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: rgba(20, 36, 79, 1);
    user-select: none;
}

.products{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 1.5rem;
    align-items: center;
    justify-items: center;
}

.drinks{
    background-color: rgba(5, 0, 255, 0.08);
}

.logoLittle{
    z-index: 5000;
    position: absolute;
    width: 70px;
    bottom: 0.5rem;
    right: 1rem;
    user-select: none;
}

