
.productOverview{
    margin: 0;
    position: absolute;
    z-index: 9000;
    width: 32%;
    height: 100%;
    background-color: #fff;
    top: -2rem;
    right: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.backgroundOverview{
    height: 275px;
    /*background-color: rgba(234, 232, 245, 0.69);*/
    background-color: rgba(208, 208, 208, 0.69);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

.burgerOverview{
    height: 180px;
    margin-left: -2rem;
}

.productNameOverview{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.favoriteIconOverview{
    width: 28px;
    margin-bottom: -3px;
}

.favoriteIconOverview:hover{
    transform: scale(1.05);
}

.productNameAndIconFavoriteOverview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionOverview{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.priceOverview{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
}

.addProductButton{
    height: 3.5rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addProductText{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 24px;
    margin-left: 10rem;
}

.cartIconOverview{
    height: 32px;
    margin-right: 1.5rem;
}

.cartIconOverview:hover{
    transform: scale(1.05);
}