@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 1px 2px 34px rgba(13, 39, 80, 0.16);*/
    box-shadow: 1px 2px 34px rgba(80, 13, 33, 0.16);
}

.logo{
    width: 230px;
    height: 60px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.category{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.category:hover{
    transform: scale(1.01);
}

.categories{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoriesIcon{
    margin-right: 1rem;
    width: 45px;
    height: 40px
}